body{
    background-image: url("BG_stars.png");
    background-size:100%;
    background-repeat: repeat;
    font-family: 'Noto Sans JP', sans-serif;
}
.top{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
nav a:hover{
    display:inline-block;
    color:black;
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    position: relative;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
.main_list{
    background:#9ea5a7;
    text-align: center; 
    position: absolute;
    top:100px;
    left:22%;
    right:22%;
    display:block;
    width:auto;
    height:auto;
    float:left;
    padding-top:7px;
    padding-bottom:7px;
}
.item_list img{
    width:50px;
    transition: all 0.3s;
}
.item_list img:hover{
    transform: scale(1.2);
}
img{
    margin: 2px;
    background-color: #cee3e9;
}
.information{
    color:black;
    background-color: white;
    border-radius: 8px;
    margin-left: 10%;
    margin-right: 10%;
}
.info_block_set{
    text-justify: left;
    position: fixed;
    top:600px;
    text-align: center;
    left:25%;
    right:25%;
    bottom:0px;
    padding:10px;
    background-color:gray;
    border:1px black static;
    display:none;
    /* border-radius: 2px; */
}
.float_infor_block{
    background:#eff8739d;
    width: 200px;
    text-align: center;
    display:none;
    position:fixed;
    border-radius: 12px;
}