body{
    background-image: url("BG_stars.png");
    background-size:100%;
    background-repeat: repeat;
}
/* .top{

} */
.main_list{
    border:1px solid #cee3e9;background:#f1f7f9   ; 
    position: absolute;;
    top:120px;
    left:22%;
    right:22%;
    padding:10px;
    text-align: center;
    display:block;
    width:auto;
    height:auto;
}
.item_list img{
    width:50px;
    transition: all 0.3s;
}
.item_list img:hover{
    transform: scale(1.2);
}
img{
    margin: 2px;
}
.information{
    color:black;
    background-color: white;
}
.infor_block_set{
    position: fixed;
    top:600px;
    left:25%;
    right:25%;
    bottom:0px;
    padding:20px;
    background-color:gray;
    border:1px black static;
    display:none;
}